/* tassa tyylitiedostossa pelkastaan elementtien paikallista */

/* muotoilua - ei elementtien asemointiin liittyvia saantoja */

* {
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

.container {
  color: #0022bb;
}

.container>* {
  padding: 10px;
  margin: 2px;
  box-sizing: border-box;
  border: 1px dashed #0400da;
  border-radius: 10px;
  text-align: center;
  font: bold normal 2.2rem Arial, Helvetica, sans-serif;
}

.container div p {
  font-size: 1.4rem;
  font-weight: normal;
  color: black;
  text-align: left;
}

.header {
  font-size: 3.2rem;
}

.footer {
  font-size: 1.4rem;
}