* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

iframe, video {
    width: 95%;
    height: auto;
}

.header {
    background-color: #0022bb;
    color: white;
}

.footer img {
    float: none;
    margin: 0px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li {
    float: none;
    display: inline-block;
    background-color: #0022bb;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 5px;
}

img {
    border-radius: 10px;
    max-width: 50%;
    float: right;
    margin: 5px;
}

#logo {
    border-radius: 0;
    float: none;
    margin: 0px;
}

.aside ul {
    list-style-type: none;
}

hr {
    border: 0.5px dashed #0400da;
}

.container>* {
    padding: 10px;
    margin: 2px;
    text-align: center;
    border: 1px dashed #0400da;
    border-radius: 10px;
}

.container .content, .container .content h2, .container .content h3 {
    text-align: left;
    color: black;
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.aside {
    grid-area: a;
}

.footer {
    grid-area: f;
}

@media (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 992px) {
    .container {
        height: 100%;
        display: grid;
        grid-template: auto / repeat(12, 1fr);
        grid-template-areas: "h h h h h h h h h h h h" "m m m c c c c c c c c c" "a a a a a a a a a a a a" "f f f f f f f f f f f f";
    }
    .menu ul li {
        display: block;
    }
}

@media (min-width: 993px) {
    .container {
        height: 100%;
        display: grid;
        grid-template: auto / repeat(12, 1fr);
        grid-template-areas: "h h h h h h h h h h h h" "m m c c c c c c c c a a" "f f f f f f f f f f f f";
    }
    .menu ul li {
        display: block;
        text-align: left;
    }
    .aside ul {
        padding: 10px;
    }
    .aside {
        text-align: left;
    }
}